<!DOCTYPE html>
<html>
    <head>
        <title>Todo App</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap">
        <style>
            body {
                font-family: 'Roboto Condensed', sans-serif;
            }

            table {
              border-collapse: collapse;
              width: 70%;
              margin: 30px 0;
            }

            td, th {
              border: 1px solid #aaaaaa;
              text-align: left;
              padding: 8px;
            }

            tr:nth-child(even) {
              background-color: #eeeeee;
            }
        </style>
    </head>
    <body>
        {% if all_todos %}
            <h1>Todos available</h1>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in all_todos %}
                        <tr>
                            <td><a href="{% url 'todo' todo.id %}">{{ todo.id }}</a></td>
                            <td>{{ todo.title }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2>Create a new todo</h2>
            <form action="{% url 'index' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Save">
            </form>
        {% else %}
            <p>No todos are available.</p>
        {% endif %}
    </body>
</html>